{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Add Category</h1>
    <form method="POST" action="{{ url_for('main.add_category') }}">
        <div class="form-group">
            <label for="category_name">Category Name</label>
            <input type="text" class="form-control" id="category_name" name="category_name" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-4">
                {% for category, message in messages %}
                    <!-- <div class="alert alert-{{ category }}">{{ message }}</div> -->
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}