{% extends "base.html" %}
{% block title %}Menu - Yummy Restaurant{% endblock %}
{% block content %}
<div class="menu-container">
    <h1>Our Menu</h1>
    <!-- Category Filter Form -->
    <div class="category-filter">
        <form method="GET" action="{{ url_for('menu.menu') }}">
            <label for="category">Filter by Category:</label>
            <select class="form-select" name="category_id" id="category" onchange="this.form.submit()">
                <option value="">All Categories</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id==selected_category_id %}selected{% endif %}>{{
                    category.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="menu-items">
        {% for item in menu_items %}
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='images/' + item.image) }}" class="card-img"
                        alt="{{ item.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text">${{ item.price }}</p>
                        {% if not current_user.is_admin and current_user.is_authenticated %}
                        <a href="{{ url_for('cart.add_to_cart', item_id=item.id) }}" class="cart-icon">Add to Cart</a>
                        {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}